DB_URL=jdbc:mysql://localhost:3306/learnpath?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai
DB_USERNAME=learnpath
DB_PASSWORD=learnpath123
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
SERVER_PORT=8080
